
main.ipynb
utils/port_opt_data.xlsx
utils/schmierblatt.ipynb
schmierblatt.ipynb
utils/__pycache__/
utils/algorithms/__pycache__/
utils/backups/
utils/arithmetic/backups/__pycache__/qft_addition_25_10_22.cpython-310.pyc
utils/arithmetic/backups/qft_addition_25_10_22.py
