
main.ipynb
utils/port_opt_data.xlsx
utils/schmierblatt.ipynb
schmierblatt.ipynb
utils/__pycache__/
utils/algorithms/__pycache__/
utils/backups/
utils/arithmetic/backups/
QAIF_PortfOpt_analysis.ipynb
QAIF_PortfOpt_analysis.ipynb
QAIF_PortfOpt_analysis.ipynb
QAIF_PortfOpt_analysis copy.ipynb
QAIF_PortfOpt_old.ipynb
QAIF/backups/QAIF_PortfOpt_21_02_23.ipynb
.DS_Store
utils/arithmetic/__pycache__/qft_arithmetic.cpython-311.pyc
